name: Node CI
on: [push]
jobs:
  build:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Use Node.js version 16.x
        uses: actions/setup-node@v3.6.0
        with:
          node-version: 16.x
      - run: yarn install
      - run: yarn test
      - run: yarn typecheck
      - run: yarn lint
